<nav class="top-bar">
  <ul class="title-area">
    <li class="image">
      <%= image_tag 'ShadowCut.png',size: "50x50" %>
    </li>

  </ul>
  <ul class="left">
    <li class="name">
      <h1><%= link_to "Steven Bateman", root_path %></h1>
    </li>
  </ul>
  <section class="top-bar-section">
  <ul class="right">
    <% @pages.each do |page| %>
        <li><%= link_to page.title, page_path(page), class: "active" %></li>
      <% end %>
      <% unless current_user.blank? %>
        <% if current_user.admin? %>
           <li><%= link_to "New Page", new_page_path, class: "active" %></li>
        <% end %>
    <% end %>

    <% if current_user %>
      <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
    <% end %>
  </ul>
  </section>
</nav>
